$midnight: #2c3e50;
$clouds: #ecf0f1;
// General

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.accord-img {
  width: 40%;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
  }
  @media (max-width: 1000px) {
    display: none;
  }
}
/* Accordion styles */
.tabs {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 50%;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(170, 170, 170, 0.5);
  border-radius: 5px;

  & > * + * {
    margin-top: 2px;
    // border-top: 1px solid rgba($color: $bgPrim, $alpha: 0.4);
  }

  @media (max-width: 1000px) {
    width: 100%;
  }
}
.tab {
  width: 100%;
  color: white;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    // background: $midnight;
    background: $bgSec;
    color: $bgPrim;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
      background: darken($bgSec, 10%);
    }
    &::after {
      content: '\276F';
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all 0.3s;
    }
  }
  &-content {
    width: 100%;
    max-height: 0;
    // padding: 0 1em;
    background: white;
    transition: all 0.3s;
    // opacity: 0;
  }
}

// :checked
input:checked {
  + .tab-label {
    background: darken($bgPrim, 10%);
    color: white;
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100vh;
    // padding: 1em;
    opacity: 1;
  }
}

.project {
  display: flex;
  align-items: flex-start;
  padding: 0.7rem;
  cursor: pointer;
  &-image {
    width: 100px;
    // height: auto;
    overflow: hidden;
    margin-right: 1rem;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &-content {
    h2 {
      color: $bgPrim;
    }
    p {
      font-size: 0.7rem;
    }
    ul li {
      display: inline-block;
      color: red;
      font-size: 0.5rem;
    }
  }

  &:hover {
    background-color: darken(white, 3%);
  }
}
