.hero {
  // height: 700px;
  background: $bgPrim;
  position: relative;
  padding: 0;
  overflow: hidden;

  &-box {
    display: flex;
    flex-wrap: wrap;
  }
  &-info {
    padding: 10rem 0 0 0;
    position: relative;

    &__buttons {
      display: flex;
      flex-wrap: wrap;

      & > * + * {
        margin-left: 2rem;
      }

      & .cv-btn {
        border: 1px solid $headTextPrim2;
        background-color: $bgPrim;
        color: $headTextPrim2;

        display: flex;
        align-items: center;

        & img {
          width: 1.22rem;
          // margin-top: -2px;
          margin-right: 5px;
        }
        &:hover {
          background-color: darken($bgPrim, 5%);
          border-color: darken($headTextPrim2, 20%);
        }
      }
    }
  }
  &-info > p {
    color: darken($headTextPrim2, 5%);
    font-size: 1.5rem;
  }
  &-info > span {
    display: flex;
    align-items: flex-end;
    color: $headTextSec;
  }
  &-info > span img {
    width: calc(5rem + 2vw);
  }
  &-info > span > span {
    font-size: calc(1.8rem + 0.8vw);
    line-height: calc(1.8rem + 0.8vw);
    margin-left: 0.7rem;
  }

  &-photo {
    position: relative;
    padding-top: 7rem;
  }
  &-photo img {
    width: 70%;
  }

  & .social-media {
    position: absolute;

    display: flex;
    flex-direction: column;
    right: 5%;
    bottom: 2rem;

    color: white;
    font-size: 0.9rem;
    text-align: right;
    & > * + * {
      margin-top: 0.3rem;
    }
    a:hover {
      color: $headTextSec;
    }
  }
}
.txt-type .txt {
  position: relative;
}
.txt-type .txt:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: -5px;
  border-right: 1px solid white;
  animation: blink 0.4s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
