// margin
.mt1rem {
  margin-top: 1rem;
}
.mt2rem {
  margin-top: 2rem;
}
.mt3rem {
  margin-top: 3rem;
}
.mb1rem {
  margin-bottom: 1rem;
}
.mb2rem {
  margin-bottom: 2rem;
}
.mb3rem {
  margin-bottom: 3rem;
}
// padding
.pr5p {
  padding-right: 5%;
}
.pl5p {
  padding-left: 5%;
}
