@import './global.scss';
@import './_colors.scss';
@import './typography.scss';
@import './grid.scss';
@import './indentation.scss';
@import './components.scss';
@import './header/header.scss';
@import './sections/hero.scss';
@import './sections/about.scss';
@import './sections/skills.scss';
@import './sections/portfolio.scss';
@import './footer/footer.scss';
@import './querys.scss';
@import './aos.scss';
@import './sections/port-accord.scss';
