.portfolio {
  background-color: $bgPrim;
  & h3 {
    color: $headTextPrim2;
  }
  p {
    color: #d8dde7;
  }
  a {
    text-decoration: underline;
  }

  .webdesign,
  .frontend {
    width: 45%;
    min-width: 450px;

    @media (max-width: 500px) {
      width: 100%;
      min-width: initial;
    }

    .text-vertcal {
      writing-mode: vertical-rl;
      text-orientation: upright;
      margin-right: 20px;

      font-family: 'Dela Gothic One', sans-serif;
      font-size: 1.5rem;
      color: $headTextSec;
      font-weight: bold;
      letter-spacing: 10px;
      text-transform: uppercase;
      opacity: 0.4;

      pointer-events: none;
      transition: all 0.5s;

      // -webkit-text-stroke: 1px $headTextSec;
      // -webkit-text-fill-color: transparent;
    }
    h4 {
      font-size: 1.2rem;
    }
    &:hover .text-vertcal {
      color: white;
      opacity: 0.7;
    }
  }

  .work {
    width: 100%;
    padding: 10px 40px 10px 10px;
    // margin-bottom: 5px;
    align-items: flex-start;

    &__image {
      width: 160px;
      // height: 100%;
      margin-right: 10px;

      img {
        display: block;
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        width: 100%;
      }
    }

    &__content {
      width: 100%;
      // padding: 1rem;

      h4 {
        color: white;
        // font-size: 1.5rem;
      }
      .tech-list {
        display: flex;
        flex-wrap: wrap;

        & > * + * {
          margin-left: 15px;
        }

        li {
          display: inline-block;
          list-style: square;
          color: #d8dde7;
          font-size: calc(0.9rem + 0.2vw);
        }
      }
      .links {
        display: flex;
        justify-content: flex-end;
        & > * + * {
          margin-left: 20px;
        }

        a {
          // color: white;
          // color: #c9cbd1;
          color: #d8dde7;
          letter-spacing: 1px;

          &:hover {
            color: $headTextSec;
          }
        }
      }
    }

    &:hover {
      transition-delay: 0.3s;
      background-color: darken($bgPrim, 3%);
    }
  }

  .webdesign .work {
    cursor: pointer;
  }
}
