.btn {
  padding: 0.7rem 2.2rem 0.7rem 2.2rem;
  font-size: 1.2rem;
  color: $bgPrim;
  text-align: center;
  background-color: $headTextPrim2;
  transition: all 0.3s ease-in-out;
  border: none;
  border-radius: 3px;
  letter-spacing: 1px;

  &:hover {
    background-color: darken($headTextPrim2, 5%);
  }
  &:disabled {
    opacity: 0.5;
  }

  &--contact {
    background-color: $headTextPrim;
    color: white;
    min-width: 150px;

    &:hover {
      background-color: $headTextSec;
      // color: $headTextPrim;
    }
  }
}

// modal

.modal {
  // display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  // opacity: 1;
  opacity: 0;
  will-change: opacity;
  background-color: rgba($bgPrim, 0.3);
  // filter: blur(200px);
  backdrop-filter: blur(20px);
  // backdrop-filter: blur(20px) saturate(120%) contrast(200%);
  transition: opacity 0.4s ease-in-out;

  &__content {
    position: relative;
    width: 1000px;
    height: 700px;
    max-width: 87%;
    max-height: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;

    opacity: 1;
    will-change: transform, opacity;
    transform: translateY(-200%);
    transition: transform 0.3s ease-out, opacity 0.4s ease-in;

    &.fadeDown {
      transform: translateY(0);
      opacity: 1;
      transition-delay: 0.2s;
    }

    & .close-btn {
      position: absolute;
      display: inline-block;
      top: -1.4rem;
      left: -1.4rem;
      background-color: darken($bgPrim, 5%);
      color: white;
      font-weight: bold;
      z-index: 1222;
      cursor: pointer;
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      text-align: center;
      line-height: 2.5rem;
    }
  }

  .renderContent {
    width: 100%;
    height: 100%;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.show {
  opacity: 1;
  transition-delay: 0.3s;
}
.form-wrapper {
  min-height: 100%;
  width: 100%;
  overflow-y: hidden;
}
.contactForm {
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;

  .text {
    margin-top: 10%;
    margin-bottom: 1%;
    width: 400px;
    max-width: 90%;

    h2 {
      font-size: 1.2rem;
    }

    h3 {
      font-size: 1.4rem;
    }
  }
  .styledInput {
    height: 60px;
    width: 400px;
    max-width: 90%;
    position: relative;
    overflow: hidden;

    margin-bottom: 1%;

    input {
      height: 100%;
      width: 100%;
      font-size: 1.1rem;
      padding-top: 20px;
      border: none;
      outline: none;
      background-color: transparent;
    }

    label {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-bottom: 1px solid grey;

      &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 100%;
        border-bottom: 4px solid $headTextSec;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
      }

      .contentName {
        position: absolute;
        bottom: 5px;
        font-size: 1.1rem;
        color: rgba(0, 0, 0, 0.7);
        left: 0;
        transition: all 0.3s ease;
      }
    }

    input:focus + .labelName .contentName,
    input:valid + .labelName .contentName {
      transform: translateY(-150%);
      color: $headTextSec;
      font-size: 14px;
    }
    input:focus + .labelName::after,
    input:valid + .labelName::after {
      transform: translateX(0);
    }

    .error {
      color: red;
      position: absolute;
      font-size: 12px;
      transform: translateY(-140%);
      right: 0;
      bottom: 0;
    }

    .error ~ label::after,
    .error ~ label {
      border-color: red;
    }
  }

  .styledTextarea {
    width: 400px;
    max-width: 90%;
    position: relative;
    margin-top: 4%;
    margin-bottom: 20px;
    .textarea {
      width: 100%;
      font-family: inherit;
      line-height: 150%;
      resize: none;
      font-size: 1.1rem;
      border: none;
      background-color: transparent;
      outline: none;
      // height: 200px;
      min-height: 130px;
      // border-radius: 5px;
      border: 1px solid grey;
    }
    .textarea:focus {
      border: 3px solid $headTextSec;
    }
  }

  .statusMsg {
    width: 400px;
    max-width: 90%;
    font-size: 1.2rem;
    color: $headTextPrim;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    color: green;
  }

  .spinner {
    display: none;
    position: absolute;
    bottom: -8opx;
    left: 50%;
    transform: translateX(-50%);
    &.active {
      display: block;
    }
  }

  .errorMsg {
    color: rgb(182, 4, 4);
  }
}

#contactModal.modal {
  .modal__content {
    width: 500px;
    height: 600px;
  }
}
