.btn {
  padding: 0.7rem 2.2rem 0.7rem 2.2rem;
  font-size: 1.2rem;
  color: $bgPrim;
  text-align: center;
  background-color: $headTextPrim2;
  transition: all 0.3s ease-in-out;
  border: none;
  border-radius: 3px;
  letter-spacing: 1px;

  &:hover {
    background-color: darken($headTextPrim2, 5%);
  }
}

// modal
.modal-port {
  display: none;
  overflow: hidden;
}
.modal-bg {
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  opacity: 0;
  will-change: opacity;
  background-color: rgba($bgPrim, 0.3);
  // filter: blur(200px);
  backdrop-filter: blur(20px);
  // backdrop-filter: blur(20px) saturate(120%) contrast(200%);
  transition: opacity 0.4s ease-in-out;

  & .content-port {
    position: relative;
    margin-top: -10vh;
    width: 95%;
    max-width: 1200px;
    max-height: 50%;
    height: calc(90% - 10vh);
    min-height: 400px;
    // overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;

    display: flex;
    justify-content: flex-end;

    will-change: transform, opacity;
    opacity: 0;
    transform: translateY(-200%);
    transition: transform 0.4s ease-out, opacity 0.6s ease-in;

    & .close-btn {
      position: absolute;
      display: inline-block;
      top: -1.4rem;
      left: -1.4rem;
      background-color: darken($bgPrim, 5%);
      color: white;
      font-weight: bold;
      z-index: 1222;
      cursor: pointer;
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      text-align: center;
      line-height: 2.5rem;
    }
    & .info {
      position: absolute;
      width: 50%;
      left: 0;
      top: 0;
      height: 100%;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-size: 1.4rem;
        margin-top: -10%;
      }
      a {
        margin-right: 1rem;
        text-decoration: underline;
        cursor: pointer;
      }
      p {
        margin: 1rem 0 1rem 0;
        font-size: 1rem;
      }
    }
    & .image {
      position: relative;
      top: 0;
      right: 0;
      width: 50%;
      max-height: 100%;
      overflow-y: auto;

      background-color: #141414;
      will-change: width;

      transition: width 0.4s ease-in-out;
      cursor: pointer;

      span {
        position: absolute;
        left: 2rem;
        top: 2rem;
        cursor: pointer;
        z-index: 200;
      }
    }

    &.fadeDown {
      transform: translateY(0);
      opacity: 1;
      transition-delay: 0.2s;
    }
  }
}
.tech-list {
  display: flex;
  margin-bottom: 1rem;
  color: $bgPrim;

  li {
    color: $textSec;
    margin-left: 2rem;
    list-style-type: disc;
  }
  li:nth-child(1) {
    list-style-type: none;
    margin-left: 0.6rem;
  }
}

// @keyframes animatetop {
//   from {
//     transform: translateY(0);
//     opacity: 1;
//   }
//   to {
//     transform: translateY(-200%);
//     opacity: 0;
//   }
// }
// @keyframes animateDown {
//   from {
//     transform: translateY(-200%);
//     opacity: 0;
//   }
//   to {
//     transform: translateY(0);
//     opacity: 1;
//   }
// }

// @keyframes animateBg {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

.show {
  opacity: 1;
  transition-delay: 0.3s;
}
