.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
// * {
//   outline: 1px solid red;
// }

.col1 {
  width: 100%;
}
.col2 {
  width: calc(100% / 2);
}
.col3 {
  width: calc(100% / 3);
}
.col4 {
  width: calc(100% / 4);
}

// FLEX

.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.wrap {
  flex-wrap: wrap;
}

// aspect ration

.box16-9 {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

// POSITIONS
.relative {
  position: relative;
}
