body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1.5;
  color: #222;
}

h1 {
  font-size: calc(3rem + 0.7vw);
  color: $headTextPrim2;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.8rem;
  color: $headTextSec;
}

h3 {
  font-size: 2.3rem;
  color: $headTextPrim;
  line-height: 1.3;
}
h4 {
  font-size: 1.4rem;
  color: $headTextPrim;
}

p {
  font-size: calc(0.9rem + 0.2vw);
  color: $textSec;
}
