.footer {
  padding: 150px 0 10px 0;
}

.contact {
  justify-content: space-between;
  &__item {
    width: 30%;
    border-top: 1px solid rgba($textPrim, 0.6);
    padding: 2rem 0 0 0;

    & h3 {
      font-size: 2rem;
    }
    & .social a {
      margin-right: 1rem;
    }
  }

  &__item a {
    color: $textSec;

    &:hover {
      color: $bgPrim;
    }
  }
}

.copyright {
  font-size: 0.8rem;
  text-align: right;
  margin-top: 1.2rem;
  opacity: 0.7;
}
